<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{staff-layout}">
<head>
<title>Welcome to Our Site</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<h5 class="title">Profile</h5>
		</div>
		<div class="card-body">
			<form>

				<div class="row">
				<div class="col-md-1 "></div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputUserId">UserId</label>
							<p id="exampleInputUserId" class="form-control" th:text="${session.sesUser.emp_id}"></p>
						</div>
					</div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputUsername">Username</label>
							<p id="exampleInputUsername" class="form-control" th:text="${session.sesUser.emp_name}"></p>
						</div>
					</div>
					
				</div>
				<div class="row">
				<div class="col-md-1 "></div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label>
							<p id="exampleInputEmail1" class="form-control" th:text="${session.sesUser.emp_email}"></p>
						</div>
						&emsp;&emsp;&emsp;&emsp;&emsp;
					</div>
					
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputNRC">NRC</label>
							<p id="exampleInputNRC" class="form-control" th:text="${session.sesUser.emp_nrc}"></p>
						</div>
					</div>
					
					

				</div>
				
				
				<div class="row"> 
				<div class="col-md-1 "></div>
				
				<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputUserPhone">Phone</label>
							<p id="exampleInputUserPhone" class="form-control" th:text="${session.sesUser.emp_phone}"></p>
						</div>

					</div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputNRC">Religion</label>
							<p id="exampleInputNRC" class="form-control" th:text="${session.sesUser.emp_religion}"></p>
						</div>
					</div>
				
				</div>
				
				<div class="row">
				<div class="col-md-1 "></div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label for="exampleInputNRC">Race</label>
							<p id="exampleInputNRC" class="form-control" th:text="${session.sesUser.emp_nationality}"></p>
						</div>
					</div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label>Gender</label>
							<p id="exampleInputUsername" class="form-control" th:text="${session.sesUser.emp_gender}"></p>

						</div>
					</div>

					

				</div>

				<div class="row">
				<div class="col-md-1 "></div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label>Address</label>
							<p id="exampleInputUsername" class="form-control" th:text="${session.sesUser.emp_address}"></p>


						</div>
					</div>
					<div class="col-md-4 mr-5">
						<div class="form-group">
							<label>Marrage Status</label>
							<p id="exampleInputUsername" class="form-control" th:text="${session.sesUser.emp_marrage}"></p>

						</div>
					</div>
					<!-- <div class="col-md-4 pl-8">
						<div class="form-group">
							<label>Qualification </label>
							<p id="exampleInputUsername" class="form-control">
							
							</p>

						</div>
					</div> -->
				</div>


						<!-- <tr th:each="data: ${sallist}">
							<td th:text="${data.sal_pos.posname}" />
							<td th:text="${data.sal_dep.name}" />
							<td th:text="${data.sal_empid.emp_bnkacc}" />
							<td th:text="${data.sal_salary}" />
							<td th:text="${data.sal_date}" />
						</tr> -->


			</form>
		</div>
	</div>





</body>
</html>