<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<head>
<title>Free Stylish Login Page Website Template |
	Smarteyeapps.com</title>
<!-- <link rel="shortcut icon" href="/images/fav.jpg"> -->
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="/css/fontawsom-all.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/css/style.css" /> -->
    <link rel="shortcut icon" href="/resources/images/fav.jpg">

    <link th:href="@{/resources/css/style.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/resources/css/fontawsom-all.min.css}" rel="stylesheet" />

</head>

<body>
 <div class="container-fluid ">
        
                <div class=" no-pdding login-box">
                    <div class="row no-margin w-100 bklmj">
                        <div class="col-lg-6 col-md-6 log-det">
                            
                            
                            <img src="/resources/images/logo-text.png" width="120px" height="68px"><br><br>
                            <h2>Log In Here !</h2>
                            <br><br>
                           
                            <div class="row no-margin past">
                                <p> Please Sign in your account! </p>
                                <p id="error" th:text="${err}"></p>
                            </div>

                            <div class="text-box-cont">
                            <form th:action="@{/dashboard}" th:object="${user}" th:method="post">
                            
                              <div class="input-group mb-3">
                                   <input th:field="*{id}" type="text" class="form-control" id="txtUserId" name="User Id" placeholder="UserID"  required>
                                </div>
                                 <div class="input-group mb-3">
                                    
                                    <input th:field="*{password}" type="password" id="txtPassword" name="Password " class="form-control" placeholder="Password" required>
                                </div>
                                <!--<div class="row no-margin">
                                    <p class="forget-p">Forget Password ?</p>
                                </div>-->
                                <div class="right-bkij mb-3">
                                    <input type="submit" id="btnLogin" name="Login" value="Login"  class="btn btn-success"></input>
                                </div> 

                                <br> <br><br>
<!--                           <div class="row linkoi"> -->
<!--                                  <div class="col-sm-5">
<!--                                       <p>Or login with</p> -->
<!--                                   </div> -->
<!--                                    <div class="col-sm-7"> -->
<!--                                        <ul> -->
<!--                                             <li><i class="fab fa-facebook-f"></i></li> -->
<!--                                        	     <li><i class="fab fa-twitter"></i></li> -->
                                            
<!--                                         </ul> -->
<!--                                    </div>-->  
<!--                                 </div>--></form> 
                            </div>
                         <div class="row-no-margin-past">  <p>@Developed by All 1N ONE</p></div>
                         <!-- <img src="assets/images/logo-text.png" width="90px" height="50px" style="margin-left: 200px;"> -->
                             

                        </div>
                        <div class="col-lg-6 col-md-6 box-de" style="padding-right:0px;">
                            <div class="ditk-inf">
                                <h2 class="w-100" >WELCOME!</h2>
                                	
                                <h5>Manage Smarter</h5>
                                <h5>With Our EMS And</h5>
                                <h5>Have a Better Day!</h5>
                          <!--     <button type="button" class="btn btn-outline-light">Sign Up</button>--> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                              
<!-- <!--  <div th:replace="framefooter::footer"></div>--> 


<!-- 	<script src="/js/jquery-3.2.1.min.js"></script> -->
<!-- 	<script src="/js/popper.min.js"></script> -->
<!-- 	<script src="/js/bootstrap.min.js"></script> -->
<!-- 	<script src="/js/script.js"></script> -->
	<script type="text/javascript" th:src="@{/resources/js/jquery-3.2.1.min.js}"></script> 
<script type="text/javascript" th:src="@{/resources/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/script.js}"></script>

</body>


</html>
