<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Welcome to Our Site</title>

</head>
<body>

	<div layout:fragment="content">
		<div class="card-header">
			<h5 class="title">Add Department</h5>
		</div>
		<div class="card-body">
			<form>
				<div class="row">
					<div class="col-md-5 pr-1">
						<div class="form-group">
							<label>Department ID (disabled)</label> <input type="text"
								class="form-control" disabled="" placeholder="Company"
								value="DEP004">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 pr-1">
						<div class="form-group">
							<label>Department Name</label> <input type="text"
								class="form-control"  value="HR Department">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 pr-1">
						<div class="form-group">
							<label>Department Head</label> <input type="text"
								class="form-control"  value="U MG MG">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label>Department Location</label> <input type="text"
								class="form-control" value="Building 5, floor 3, MICT Park">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<input type="button" value="Register"
								class="btn btn-round btn-primary"> <a target="_blank"
								href="/setupDepartmentList" class="btn btn-round btn-primary">Cancle</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>