<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Free Stylish Login Page Website Template |
	Smarteyeapps.com</title>

<link rel="shortcut icon" href="/images/fav.jpg">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/fontawsom-all.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
	

</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/script.js"></script>


</html>
