<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
	<link th:href="@{/resources/css/cal.css}" rel="stylesheet" />
<head>
<title>Welcome to Our Site</title>
<script type="text/javascript">
	function deleteStudent() {
		var isOk = confirm("Are you sure to delete?");
		if (isOk) {
			document.getElementById("myform").action = "StudentDeleteServlet";
			document.getElementById("myform").submit();
		}
	}
</script>
</head>
<body>

	<div layout:fragment="content">
		<!--<div class="main-panel" id="main-panel">-->

		<div class="panel-header-lg">
			<img src="/resources/images/LGO.png" width="150px" height="87px"
				style="margin: -200px 100px;">
			<h2
				style="float: right; margin-right: 100px; color: white; margin-bottom: 50px;">To
				Be Smart Your System !</h2>
		</div>


		<div class="content">
			<div class="row">

				<div class="col-lg-4">
					<div class="card card-chart">
						<div class="card-header">
							<h4 class="card-title">Number of Total Staffs</h4>
							<br>
							<br>
<!-- <tbody th:each="data: ${departmentlist}"> -->
							<div class="doughnut">
								<h1 style="text-align: center;" th:text="${stf}"></h1>
							</div>

						</div>
						<div>
							<h4 class="card-footer">
								<a href="/displaystaff">
									<i class="now-ui-icons users_single-02"></i> View Details  </h4>
								</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="card card-chart">
						<div class="card-header">
							
							<h4 class="card-title">Total Departments</h4>
						</div>
						<br>
						<br>
						<div class="doughnut">
							<h1 style="text-align: center;" th:text="${dep}"></h1>
						</div>
						
						<div>
							<h4 class="card-footer">
								<a href="/displaydepartment"> <i
									class="now-ui-icons users_single-02"></i> View Details
							</h4>
							</a>
						</div>
					</div>
				</div>


				<div class="col-lg-4 col-md-6">
					<div class="card card-chart">
						<div class="card-header">
							<h1 class="card-category">Calendar</h1>
						</div>

						<div th:replace="/frame/cal.html :: calendar"></div>
						<!--<div id="calendar"></div>-->
						<div class="card-footer">
							<div class="stats">
								<i class="now-ui-icons ui-2_time-alarm"></i> Reminder
							</div>
						</div>
					</div>
				</div>


			</div>
			<div class="row">

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-category">All Staff Lists</h5>
							<h4 class="card-title">New Recent Staff List</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table">
									<thead class=" text-primary">
										<th>No</th>
										<th>Name</th>
										<th>Position</th>
										<th>Department</th>
										<th>Date</th>
									</thead>
									<tbody>
										<tr th:each="data: ${stflast}">
											<td th:text="${data.emp_id}" />
											<td th:text="${data.emp_name}" />
											<td th:text="${data.emp_pos.posname}" />
											<td th:text="${data.emp_dep.name}" />
											<td th:text="${data.emp_register}" />
											
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!--</div>-->
	
	</div>

	

</body>
</html>